<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DOUX</title>
  <link rel="shortcut icon" href="../../assets/images/home_landing/icons8-shopping-bag-full-64.png" />
  <link rel="stylesheet" href="../../assets/css/dark/home_product.css" />
  <link href="http://fonts.cdnfonts.com/css/felix-titling" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
  rel="shortcut icon"
  href="../../assets/images/home_landing/icons8-shopping-bag-full-64.png"
/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="menu" id="btn-modal">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
      </div>
      <h1 class="header-title">doux.</h1>
      <div class="navbar">
        <ul class="nav-links">
          <li class="nav-link">
            <a href=""
              ><img
                style="width: 22px"
                src="../../assets/images/home_landing/search2.svg"
                alt=""
            /></a>
          </li>
          <li class="nav-link">
            <a href="../shoppingCart.html"
              ><img src="../../assets/images/home_landing/white1.svg" alt=""
            /></a>
          </li>
          <li class="nav-link">
            <a href="../shoppingCart.html"
              ><img src="../../assets/images/home_landing/white2.svg" alt=""
            /></a>
          </li>
          <li class="nav-link">
            <a href="../login.html"
              ><img src="../../assets/images/home_landing/white3.svg" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-header">
      <h2 class="header2">NEW IN (68) / “La-violette” dress</h2>
      <a href="../dark/home_new_in.html"><div class="back"><img style="width: 22px;height: 22px;" src="../../assets/images/home_product/icons8-reply-arrow-32.png"
          alt=""><span>Back</span></div></a>
    </div>
    <div class="product-section">
      <div class="Slider">
        <div>
          <img id="featuredImage" class="Slider-featuredImage" src="../../assets/images/home_product/Slider-img-1.png"
            alt="#">
        </div>

        <div class="Slider-thumbnails">

          <a href="https://images.unsplash.com/photo-1603189343302-e603f7add05a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fDE2MDB4OTAwJTIwZmFzaGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            class="Slider-thumbnail active">
            <img src="../../assets/images/home_product/Slider-img-2.png" alt="#">
          </a>
          <a href="https://images.unsplash.com/photo-1482270406631-a02c51d93c2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8MTYwMHg5MDAlMjBmYXNoaW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="Slider-thumbnail">
            <img src="../../assets/images/home_product/Slider-img-3.png" alt="#">
          </a>
          <a href="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fDE2MDB4OTAwJTIwZmFzaGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            class="Slider-thumbnail">
            <img src="../../assets/images/home_product/Slider-img-4.png" alt="#">
          </a>
          <a href="https://images.unsplash.com/photo-1551113006-731674fbb3ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fDE2MDB4OTAwJTIwZmFzaGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            class="Slider-thumbnail">
            <img src="../../assets/images/home_product/Slider-img-5.png" alt="#">
          </a>
          <a href="https://images.unsplash.com/photo-1542513217-0b0eedf7005d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fDE2MDB4OTAwJTIwZmFzaGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            class="Slider-thumbnail">
            <img src="../../assets/images/home_product/Slider-img-6.png" alt="#">
          </a>
        </div>
      </div>
      <div class="product-information">
        <div class="product-header">
          <h1>“La-violette” dress</h1>
          <img src="../../assets/images/home_product/save2.svg" alt="">
        </div>
        <h2 class="price">$120</h2>
        <div class="colors-div">
          <span>Colors</span>
          <div class="colors">
            <div class="color color1">
              <div class="color-1"></div>
            </div>
            <div class="color color2"></div>
            <div class="color color3"></div>
            <div class="color color4"></div>
          </div>
        </div>
        <div class="size-div">
          <span>Select size</span>
          <div class="sizes">
            <div class="size size1">XS</div>
            <div class="size size2">S</div>
            <div class="size size3">M</div>
            <div class="size size4">L</div>
          </div>
        </div>
        <div class="quantity">
          <form class="quantity-form">
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
            <input type="number" id="number" value="1" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
          </form>
          <input type="submit" value="Add to Cart" class="btnAdd">
          <a href=""><img src="../../assets/images/home_landing/white2.svg" alt="" /></a>
        </div>
        <div class="excepts">
        <span>Product details <a href=""> +</a></span>
        <span>Payment options <a href=""> +</a></span>
        <span>Delivery <a href=""> +</a></span>
        <span>Returns <a href=""> +</a></span></div>
      </div>
    </div>
    <div class="flex-1">

      <h1>complete your look</h1>
      <div class="flex-container">
        
        <a href="">
          <div>
            <div class="flexDiv">
              <div class="mainImage image1"></div>
              <div class="mainContent">
                <div class="mainHeader1">
                  <span>New In</span>
                  <span>Jackets</span>
                  <img src="../../assets/images/home_new_in/Vector.svg" alt="" />
                </div>
                <div class="mainHeader2">
                  <h1>“Le rouge” JACKET</h1>
                  <h3>$110</h3>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div><a href="">
            <div>
              <div class="flexDiv">
                <div class="mainImage image2"></div>
                <div class="mainContent">
                  <div class="mainHeader1">
                    <span>New In</span>
                    <span>Shoes</span>
                    <img src="../../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h1>“Flores” blouse</h1>
                    <h3>$67</h3>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
        <div><a href="">
            <div>
              <div class="flexDiv">
                <div class="mainImage image3"></div>
                <div class="mainContent">
                  <div class="mainHeader1">
                    <span>New In</span>
                    <span>Shoes</span>
                    <img src="../../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h1>“Flores” blouse</h1>
                    <h3>$67</h3>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
    </div>
    <div class="flex-1">

      <h1>you might also like</h1>
      <div class="flex-container">
        
        <a href="">
          <div>
            <div class="flexDiv">
              <div class="mainImage image4"></div>
              <div class="mainContent">
                <div class="mainHeader1">
                  <span>New In</span>
                  <span>Shoes</span>
                  <img src="../../assets/images/home_new_in/Vector.svg" alt="" />
                </div>
                <div class="mainHeader2">
                  <h1>“CHIC” SHOES</h1>
                  <h3>$67</h3>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div><a href="">
            <div>
              <div class="flexDiv">
                <div class="mainImage image5"></div>
                <div class="mainContent">
                  <div class="mainHeader1">
                    <span>New In</span>
                    <span>Shoes</span>
                    <img src="../../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h1>“Flores” blouse</h1>
                    <h3>$67</h3>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
        <div><a href="">
            <div>
              <div class="flexDiv">
                <div class="mainImage image6"></div>
                <div class="mainContent">
                  <div class="mainHeader1">
                    <span>New In</span>
                    <span>Shoes</span>
                    <img src="../../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h1>“Flores” blouse</h1>
                    <h3>$67</h3>
                  </div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
    </div>
    <div class="subscribe">
      <h1>Subscribe for our newsletter</h1>
      <p>
        By subscribing you can get information about <br />
        exclusive coupons and discounts.
      </p>
      <div class="input-div">
        <div class="email-div">
          <label for="" class="email-label">Your email</label><br />
          <input type="email" placeholder="Your Email" class="email" />
        </div>

        <button type="submit" class="btnSubmit">
          Subscribe
          <img class="btnArrow" src="../../assets/images/home_landing/arrow.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="footer">
      <div class="list1">
        <ul>
          <li><b>Policies</b></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Cooperations</a></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="list2">
        <ul>
          <li><b>Help</b></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Return requests</a></li>
          <li><a href="#">Body Table</a></li>
          <li><a href="#">Gift Card</a></li>
          <li><a href="#">Unsubscribe from newsletter</a></li>
        </ul>
      </div>
      <div class="list3">
        <ul>
          <li><b>Contact</b></li>
          <li>
            <a
              href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&oe=UTF8&msa=0&mid=17Kh7UM1OCxxzE_xhcRAhTbFmwfU&ll=40.385289345299746%2C49.88722349999998&z=13"
              >Baku</a
            >
          </li>
          <li>
            <a href="mailto:leman.miriyeva02@mail.ru"
              >leman.miriyeva02@mail.ru</a
            >
          </li>
          <li><a href="tel:+994000000000">+994 00 000 00 00</a></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="list4">
        <ul>
          <li><b>Payment methods</b></li>
          <li>
            <a href=""
              ><img src="../../assets/images/home_landing/card1.svg" alt=""
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="../../assets/images/home_landing/card2.svg" alt=""
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="../../assets/images/home_landing/card3.svg" alt=""
            /></a>
          </li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="list5">
        <ul>
          <li><b>Find us</b></li>
          <li>
            <a href=""
              ><img src="../../assets/images/home_landing/facebook2.svg" alt=""
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="../../assets/images/home_landing/instagram2.svg" alt=""
            /></a>
          </li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <img src="../../assets/images/home_landing/copy.svg" alt="" />
      <p>2022 Laman Mirizada - All rights reserved</p>
    </div>
  </div>
  <div class="overlay" id="overlay"></div>
  <div class="modal" id="modal">
    <button class="modal-close-btn" id="close-btn">
      <i class="fa fa-times"></i>
    </button>
    <div class="modal-content content1">
      <h3><a href="">New in</a></h3>
      <span>68 items</span>
      <h3><a href="">Sale on</a></h3>
      <span>54 items</span>
    </div>
    <div class="modal-content content2">
      <ul class="modal-list">
        <li>
          <a href="../dark/home_new_in.html"><h3>best</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>coats</h3></a>
        </li>
        <li>
          <a href="../home_new_in.html"><h3>jackets</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>dresses</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>tops</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>sweat</h3></a>
        </li>
      </ul>
      <ul class="modal-list">
        <li><span>102 items</span></li>
        <li><span>88 items</span></li>
        <li><span>99 items</span></li>
        <li><span>80 items</span></li>
        <li><span>93 items</span></li>
        <li><span>87 items</span></li>
      </ul>
      <ul>
        <li>
          <a href="../dark/home_new_in.html"><h3>pants</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>jeans</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>skirts</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>shorts</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>suits</h3></a>
        </li>
        <li>
          <a href="../dark/home_new_in.html"><h3>shoes</h3></a>
        </li>
      </ul>
      <ul class="modal-list">
        <li><span>78 items</span></li>
        <li><span>71 items</span></li>
        <li><span>89 items</span></li>
        <li><span>67 items</span></li>
        <li><span>76 items</span></li>
        <li><span>98 items</span></li>
      </ul>
    </div>
  </div>
  <script src="../../assets/js/main.js"></script>
</body>

</html>