<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/filters.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  /><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
    rel="stylesheet"
  />
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="header">
        <div class="menu" id="btn-modal">
          <div class="line line1"></div>
          <div class="line line2"></div>
          <div class="line line3"></div>
        </div>
        <h1 class="header-title">doux.</h1>
        <div class="navbar">
          <ul class="nav-links">
            <li class="nav-link">
              <a href=""><img style="width: 22px" src="../assets/images/home_landing/icons8-search.svg" alt="" /></a>
            </li>
            <li class="nav-link">
              <a href=""><img src="../assets/images/home_landing/Vector.svg" alt="" /></a>
            </li>
            <li class="nav-link">
              <a href=""><img src="../assets/images/home_landing/Vector (2).svg" alt="" /></a>
            </li>
            <li class="nav-link">
              <a href=""><img src="../assets/images/home_landing/Vector (3).svg" alt="" /></a>
            </li>
         
          </ul>
        </div>
      </div>
<div class="main">
    <div class="type">
      <h1 class="main-header">Type</h1>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Coats</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Jackets</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Dresses</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Tops</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Pants</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Pants</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Jeans</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Skirts</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Shorts</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Suits</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">Shoes</label>
        </div>
    </div>
    <div class="type second">
      <h1 class="main-header">Colour</h1>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Red</label></div>
            <div class="div-2 red"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Black</label></div>
            <div class="div-2 black"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Brown</label></div>
            <div class="div-2 brown"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Yellow</label></div>
            <div class="div-2 yellow"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Violet</label></div>
            <div class="div-2 violet"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Blue</label></div>
            <div class="div-2 blue"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Grey</label></div>
            <div class="div-2 grey"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Pink</label></div>
            <div class="div-2 pink"></div>
           
        </div>
        <div class="checkbox-div">
          <div class="div-1"> <input class="checkbox" type="checkbox">
            <label for="">Green</label></div>
            <div class="div-2 green"></div>
           
        </div>
        
    </div>
    <div class="type third">
      <h1 class="main-header">Size</h1>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">XS</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">XS-S</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">S</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">M</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">L</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">M-L</label>
        </div>
        <div class="checkbox-div">
            <input class="checkbox" type="checkbox">
            <label for="">XL</label>
        </div>
        
    </div>
    <div class="type fourth">
      <h1 class="main-header">Price</h1>
      <div class="div-3">
        <div class="checkbox-div">
          <input type="radio"  name="price" class="radio">
            <label>$0-50</label>
        </div>
        <div class="checkbox-div">
          <input type="radio"  name="price"  class="radio">
            <label>$50-100</label>
        </div>
        <div class="checkbox-div">
          <input type="radio"  name="price" class="radio">
            <label>$100-150</label>
        </div>
        <div class="checkbox-div">
          <input type="radio"  name="price" class="radio">
            <label>$150-200</label>
        </div>
       </div>
       <div class="div-4">
         <h1 class="main-header">Your choice:</h1>
         <div class="inputs">
           <input class="price" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="From($)">
           <input class="price" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="To($)">
         </div>
         <div class="buttons">
           <button class="btnClear">Clear all filters</button>
           <button class="btnApply">Apply filters</button>
         </div>
       </div>
        
    </div>
</div>

</div>
<div class="overlay" id="overlay"></div>
<div class="modal" id="modal">
<button class="modal-close-btn" id="close-btn">
  <i class="fa fa-times"></i>
</button>
<div class="modal-content content1">
  <h3><a href="../templates/home_new_in.html">New in</a></h3>
  <span>68 items</span>
  <h3><a href="../templates/home_new_in.html">Sale on</a></h3>
  <span>54 items</span>
</div>
<div class="modal-content content2">
  <ul class="modal-list">
    <li>
      <a href="/templates/home_new_in.html"><h3>best</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>coats</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>jackets</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>dresses</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>tops</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>sweat</h3></a>
    </li>
  </ul>
  <ul class="modal-list">
    <li><span>102 items</span></li>
    <li><span>88 items</span></li>
    <li><span>99 items</span></li>
    <li><span>80 items</span></li>
    <li><span>93 items</span></li>
    <li><span>87 items</span></li>
  </ul>
  <ul>
    <li>
      <a href="/templates/home_new_in.html"><h3>pants</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>jeans</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>skirts</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>shorts</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>suits</h3></a>
    </li>
    <li>
      <a href="/templates/home_new_in.html"><h3>shoes</h3></a>
    </li>
  </ul>
  <ul class="modal-list">
    <li><span>78 items</span></li>
    <li><span>71 items</span></li>
    <li><span>89 items</span></li>
    <li><span>67 items</span></li>
    <li><span>76 items</span></li>
    <li><span>98 items</span></li>
  </ul>
</div>
</div>
  <script src="../assets/js/main.js"></script>
</body>
</html>