<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOUX</title>
    <link
      rel="shortcut icon"
      href="../assets/images/home_landing/icons8-shopping-bag-full-64.png"
    />
    <link rel="stylesheet" href="../assets/css/home_new_in.css" />
    <link href="http://fonts.cdnfonts.com/css/felix-titling" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="menu" id="btn-modal">
          <div class="line line1"></div>
          <div class="line line2"></div>
          <div class="line line3"></div>
        </div>
        <h1 class="header-title">doux.</h1>
        <div class="navbar">
          <ul class="nav-links">
            <li class="nav-link">
              <a href=""
                ><img
                  style="width: 22px"
                  src="../assets/images/home_landing/icons8-search.svg"
                  alt=""
              /></a>
            </li>
            <li class="nav-link">
              <a href="../templates/shoppingCart.html"
                ><img src="../assets/images/home_landing/Vector.svg" alt=""
              /></a>
            </li>
            <li class="nav-link">
              <a href="../templates/shoppingCart.html"
                ><img src="../assets/images/home_landing/Vector (2).svg" alt=""
              /></a>
            </li>
            <li class="nav-link">
              <a href="../templates/login.html"
                ><img src="../assets/images/home_landing/Vector (3).svg" alt=""
              /></a>
            </li>
            <li class="nav-link">
              <a href="../templates/dark/home_new_in.html"><img style="width: 22px;" src="../assets/images/home_landing/bulb (1).png" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="header2">NEW IN (68)</h1>
      <a href="../templates/filters.html"><div class="filter"><img src="../assets/images/home_new_in/filter.png" alt=""><span>Filter</span></div></a>
      <div class="flex-container">
          <a href="../templates/home_product.html"><div>
            <div class="flexDiv">
                <div class="mainImage image1"></div>
                <div class="mainContent">
                  <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
                </div>
              </div>
          </div></a>
        
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image2"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
        <a href="../templates/home_product.html">  <div>
          <div class="flexDiv">
            <div class="mainImage image3"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
      
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image4"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image5"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image6"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
        <a href="../templates/home_product.html"><div>
          <div class="flexDiv">
            <div class="mainImage image7"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
        
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image8"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
        <a href="../templates/home_product.html"><div>
          <div class="flexDiv">
            <div class="mainImage image9"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
        
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image10"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
        <a href="../templates/home_product.html"><div>
          <div class="flexDiv">
            <div class="mainImage image11"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
        
        <a href="../templates/home_product.html"> <div>
          <div class="flexDiv">
            <div class="mainImage image12"></div>
            <div class="mainContent">
                <div class="mainHeader1">
                    <span>New In</span>
                    <span>Tops</span>
                    <img src="../assets/images/home_new_in/Vector.svg" alt="" />
                  </div>
                  <div class="mainHeader2">
                    <h>“Flores” blouse</h>
                    <h3>$67</h3>
                  </div>
            </div>
          </div>
        </div></a>
       
      </div>
      <nav data-pagination>
        <a class="chevron" href=# disabled><i class="fa fa-chevron-left"></i></a>
        <ul>
          <li class=current><a href=#1>1</a>
          <li><a href=#2>2</a>
          <li><a href=#3>3</a>
          <li><a href=#4>4</a>
          <li><a href=#5>5</a>
          <li><a href=#6>6</a>
          <li><a href=#7>7</a>
          <li><a href=#8>8</a>
          <li><a href=#9>9</a>
          <li><a href=#10>…</a>
          <li><a href=#32>32</a>
        </ul>
        <a class="chevron" href=#2><i class="fa fa-chevron-right"></i></a>
      </nav>
      <div class="subscribe">
        <h1>Subscribe for our newsletter</h1>
        <p>
          By subscribing you can get information about <br />
          exclusive coupons and discounts.
        </p>
        <div class="input-div">
          <div class="email-div">
            <label for="" class="email-label">Your email</label><br />
            <input type="email" placeholder="Your Email" class="email" />
          </div>

          <button type="submit" class="btnSubmit">
            Subscribe
            <img
              class="btnArrow"
              src="../assets/images/home_landing/arrow.svg"
              alt=""
            />
          </button>
        </div>
      </div>
      <div class="footer">
        <div class="list1">
          <ul>
            <li><b>Policies</b></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cooperations</a></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="list2">
          <ul>
            <li><b>Help</b></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Return requests</a></li>
            <li><a href="#">Body Table</a></li>
            <li><a href="#">Gift Card</a></li>
            <li><a href="#">Unsubscribe from newsletter</a></li>
          </ul>
        </div>
        <div class="list3">
          <ul>
            <li><b>Contact</b></li>
            <li>
              <a
                href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&oe=UTF8&msa=0&mid=17Kh7UM1OCxxzE_xhcRAhTbFmwfU&ll=40.385289345299746%2C49.88722349999998&z=13"
                >Baku</a
              >
            </li>
            <li>
              <a href="mailto:leman.miriyeva02@mail.ru"
                >leman.miriyeva02@mail.ru</a
              >
            </li>
            <li><a href="tel:+994000000000">+994 00 000 00 00</a></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="list4">
          <ul>
            <li><b>Payment methods</b></li>
            <li>
              <a href=""
                ><img src="../assets/images/home_landing/cart1.svg" alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img src="../assets/images/home_landing/cart2.svg" alt=""
              /></a>
            </li>
            <li>
              <a href=""
                ><img src="../assets/images/home_landing/cart3.svg" alt=""
              /></a>
            </li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="list5">
          <ul>
            <li><b>Find us</b></li>
            <li>
              <a href="facebook.com"
                ><img src="../assets/images/home_landing/facebook.svg" alt=""
              /></a>
            </li>
            <li>
              <a href="instagram.com"
                ><img src="../assets/images/home_landing/instagram.svg" alt=""
              /></a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <img src="../assets/images/home_landing/copy.svg" alt="" />
        <p>2022 Laman Mirizada - All rights reserved</p>
      </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="modal">
      <button class="modal-close-btn" id="close-btn">
        <i class="fa fa-times"></i>
      </button>
      <div class="modal-content content1">
        <h3><a href="../templates/home_new_in.html">New in</a></h3>
        <span>68 items</span>
        <h3><a href="../templates/home_new_in.html">Sale on</a></h3>
        <span>54 items</span>
      </div>
      <div class="modal-content content2">
        <ul class="modal-list">
          <li>
            <a href="/templates/home_new_in.html"><h3>best</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>coats</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>jackets</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>dresses</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>tops</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>sweat</h3></a>
          </li>
        </ul>
        <ul class="modal-list">
          <li><span>102 items</span></li>
          <li><span>88 items</span></li>
          <li><span>99 items</span></li>
          <li><span>80 items</span></li>
          <li><span>93 items</span></li>
          <li><span>87 items</span></li>
        </ul>
        <ul>
          <li>
            <a href="/templates/home_new_in.html"><h3>pants</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>jeans</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>skirts</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>shorts</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>suits</h3></a>
          </li>
          <li>
            <a href="/templates/home_new_in.html"><h3>shoes</h3></a>
          </li>
        </ul>
        <ul class="modal-list">
          <li><span>78 items</span></li>
          <li><span>71 items</span></li>
          <li><span>89 items</span></li>
          <li><span>67 items</span></li>
          <li><span>76 items</span></li>
          <li><span>98 items</span></li>
        </ul>
      </div>
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
