<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="../assets/images/home_landing/trademark.png" />
    <title>Register</title>
</head>

<body>
    <div class="header">
        <h1>DOUX.</h1>
    </div>

    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="formBx">
                    <form>
                        <h1>Create Account</h1>
                        <span class="text">Get started by creating your new account</span>
                        <input class="input" type="text" name="" placeholder="Full Name" />
                        <input class="input" type="email" name="" placeholder="Email Address" />
                        <input class="input" type="tel" name="" placeholder="Phone Number" />
                        <p style="width: 100%;margin-left: 30%;"><input class="input" type="password" name="" placeholder="Password" />
                            <i class="bi bi-eye-slash" id="togglePassword"></i></p>
                            <p style="width: 100%;margin-left: 30%;"><input class="input" type="password" name="" placeholder="Reenter password" />
                                <i class="bi bi-eye-slash" id="togglePassword"></i></p>
                        
                        <input type="submit" class="btnSubmit" name="" value="Register" />
                        <p class="signup">
                            Already have an account?
                            <a href="login.html">Login</a>
                        </p>
                        <div class="registered">
                            <small>Registered with</small>
                            <div class="icons">
                                <a href=""><i class="fa fa-google" style="font-size:28px"></i></a>
                                <a href=""><i class="fa fa-facebook-f" style="font-size:28px;color: rgb(49, 49, 209);"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script>
</body>

</html>