<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOUX</title>
    <link rel="shortcut icon" href="../assets/images/home_landing/icons8-shopping-bag-full-64.png" />
    <link rel="stylesheet" href="../assets/css/shoppingCart.css" />
    <link href="http://fonts.cdnfonts.com/css/felix-titling" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="menu" id="btn-modal">
              <div class="line line1"></div>
              <div class="line line2"></div>
              <div class="line line3"></div>
            </div>
            <h1 class="header-title">doux.</h1>
            <div class="navbar">
              <ul class="nav-links">
                <li class="nav-link">
                  <a href=""
                    ><img
                      style="width: 22px"
                      src="../assets/images/home_landing/icons8-search.svg"
                      alt=""
                  /></a>
                </li>
                <li class="nav-link">
                  <a href="../templates/shoppingCart.html"
                    ><img src="../assets/images/home_landing/Vector.svg" alt=""
                  /></a>
                </li>
                <li class="nav-link">
                  <a href="../templates/shoppingCart.html"
                    ><img src="../assets/images/home_landing/Vector (2).svg" alt=""
                  /></a>
                </li>
                <li class="nav-link">
                  <a href="../templates/login.html"
                    ><img src="../assets/images/home_landing/Vector (3).svg" alt=""
                  /></a>
                </li>
               
              </ul>
            </div>
          </div>

        <div class="main-header">
            <h2 class="header2"><a href="">shopping Cart</a> / <a href="">Address Selection </a> / <a href="">Payment
                    Information</a></h2>
            <div class="back"><img style="width: 22px;height: 22px;" src="../assets/images/home_product/back.png"
                    alt=""><span>Back</span></div>
        </div>
        <div class="main">
            <div class="products">
                <span>Product</span>
                <div class="product">
                    <img src="../assets/images/shopping_cart/product1.png" alt="">
                    <h3>“La-violette” dress</h3>
                </div>
                <div class="product">
                    <img src="../assets/images/shopping_cart/product2.png" alt="">
                    <h3>“La-violette” dress</h3>
                </div>
                <div class="product">
                    <img src="../assets/images/shopping_cart/product3.png" alt="">
                    <h3>“La-violette” dress</h3>
                </div>


            </div>
            <div class="colors">
                <span>Color</span>
                <div class="color color1">
                    <div class="color-1"></div>
                </div>
                <div class="color color2">
                    <div class="color-2"></div>
                </div>
                <div class="color color3">
                    <div class="color-3"></div>
                </div>
            </div>
            <div class="sizes">
                <span>Size</span>
                <div class="">
                    <div class="size">XS</div>
                </div>
                <div class="">
                    <div class="size">37</div>
                </div>
                <div class="">
                    <div class="size">S</div>
                </div>


            </div>
            <div class="prices">
                <span>Price</span>
                <div class="price">$120</div>
                <div class="price">$155</div>
                <div class="price">$67</div>
            </div>
            <div class="quantities">
                <span>Quantity</span>
                <div class="quantity">1</div>
                <div class="quantity">1</div>
                <div class="quantity">1</div>
            </div>
            <div class="exceptions">
                <h1>fjfjfjfj</h1>
                <div class="exception">
                    <a href=""><img src="../assets/images/home_landing/Vector (2).svg" alt=""></a>
                    <a href="#modal-1"><img src="../assets/images/shopping_cart/Vector.svg" alt=""></a>
                    <a href=""><img src="../assets/images/shopping_cart/Vector (1).svg" alt=""></a>
                </div>
                <div class="exception">
                    <a href=""><img src="../assets/images/home_landing/Vector (2).svg" alt=""></a>
                    <a href="#modal-1"><img src="../assets/images/shopping_cart/Vector.svg" alt=""></a>
                    <a href=""><img src="../assets/images/shopping_cart/Vector (1).svg" alt=""></a>
                </div>
                <div class="exception">
                    <a href=""><img src="../assets/images/home_landing/Vector (2).svg" alt=""></a>
                    <a href="#modal-1"><img src="../assets/images/shopping_cart/Vector.svg" alt=""></a>
                    <a href=""><img src="../assets/images/shopping_cart/Vector (1).svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="main2">
            <div class="products">
                <span>Product</span>
                <div class="product">
                    <img src="../assets/images/shopping_cart/product1.png" alt="">
                    <h3>“La-violette” dress</h3>
                </div>
                <div class="product">
                    <img src="../assets/images/shopping_cart/product2.png" alt="">
                    <h3>“La-violette” dress</h3>
                </div>
                <div class="product">
                    <img src="../assets/images/shopping_cart/product3.png" alt="">
                    <h3>“La-violette” dress</h3>
                </div>


            </div>
            <div class="size-color">
                <div class="colors">
                    <span>Color</span>
                    <div class="color color1">
                        <div class="color-1"></div>
                    </div>
                    <div class="color color2">
                        <div class="color-2"></div>
                    </div>
                    <div class="color color3">
                        <div class="color-3"></div>
                    </div>
                </div>
                <div class="sizes">
                    <span>Size</span>
                    <div class="">
                        <div class="size">XS</div>
                    </div>
                    <div class="">
                        <div class="size">37</div>
                    </div>
                    <div class="">
                        <div class="size">S</div>
                    </div>
    
    
                </div>
                <div class="price-quantity">
                    <div class="prices">
                        <span>Price</span>
                        <div class="price">$120</div>
                        <div class="price">$155</div>
                        <div class="price">$67</div>
                    </div>
                    <div class="quantities">
                        <span>Quantity</span>
                        <div class="quantity">1</div>
                        <div class="quantity">1</div>
                        <div class="quantity">1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-div">
            <div class="order">
            <div class="order1">
                <span>Order Subtotal: </span>
                <span>Delivery costs:</span>
                <span><b>TOTAL:</b></span>
            </div>
            <div class="order2">
                <span>$342</span>
                <span>$5</span>
                <span class="totalprice">$347</span>
            </div>
        </div>
        <button class="btnOrder">Complete order</button>
        </div>
        
        <div class="subscribe">
            <h1>Subscribe for our newsletter</h1>
            <p>
                By subscribing you can get information about <br />
                exclusive coupons and discounts.
            </p>
            <div class="input-div">
                <div class="email-div">
                    <label for="" class="email-label">Your email</label><br />
                    <input type="email" placeholder="Your Email" class="email" />
                </div>

                <button type="submit" class="btnSubmit">
                    Subscribe
                    <img class="btnArrow" src="../assets/images/home_landing/arrow.svg" alt="" />
                </button>
            </div>
        </div>
        <div class="footer">
            <div class="list1">
              <ul>
                <li><b>Policies</b></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cooperations</a></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="list2">
              <ul>
                <li><b>Help</b></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Return requests</a></li>
                <li><a href="#">Body Table</a></li>
                <li><a href="#">Gift Card</a></li>
                <li><a href="#">Unsubscribe from newsletter</a></li>
              </ul>
            </div>
            <div class="list3">
              <ul>
                <li><b>Contact</b></li>
                <li>
                  <a
                    href="https://www.google.com/maps/d/u/0/viewer?ie=UTF8&oe=UTF8&msa=0&mid=17Kh7UM1OCxxzE_xhcRAhTbFmwfU&ll=40.385289345299746%2C49.88722349999998&z=13"
                    >Baku</a
                  >
                </li>
                <li>
                  <a href="mailto:leman.miriyeva02@mail.ru"
                    >leman.miriyeva02@mail.ru</a
                  >
                </li>
                <li><a href="tel:+994000000000">+994 00 000 00 00</a></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="list4">
              <ul>
                <li><b>Payment methods</b></li>
                <li>
                  <a href=""
                    ><img src="../assets/images/home_landing/cart1.svg" alt=""
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img src="../assets/images/home_landing/cart2.svg" alt=""
                  /></a>
                </li>
                <li>
                  <a href=""
                    ><img src="../assets/images/home_landing/cart3.svg" alt=""
                  /></a>
                </li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="list5">
              <ul>
                <li><b>Find us</b></li>
                <li>
                  <a href="facebook.com"
                    ><img src="../assets/images/home_landing/facebook.svg" alt=""
                  /></a>
                </li>
                <li>
                  <a href="instagram.com"
                    ><img src="../assets/images/home_landing/instagram.svg" alt=""
                  /></a>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        <div class="copyright">
            <img src="../assets/images/home_landing/copy.svg" alt="" />
            <p>2022 Laman Mirizada - All rights reserved</p>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="modal">
        <button class="modal-close-btn" id="close-btn">
            <i class="fa fa-times"></i>
        </button>
        <div class="modal-content content1">
            <h3><a href="">New in</a></h3>
            <span>68 items</span>
            <h3><a href="">Sale on</a></h3>
            <span>54 items</span>
        </div>
        <div class="modal-content content2">
            <ul class="modal-list">
                <li>
                    <a href="">
                        <h3>best</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>coats</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>jackets</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>dresses</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>tops</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>sweat</h3>
                    </a>
                </li>
            </ul>
            <ul class="modal-list">
                <li><span>102 items</span></li>
                <li><span>88 items</span></li>
                <li><span>99 items</span></li>
                <li><span>80 items</span></li>
                <li><span>93 items</span></li>
                <li><span>87 items</span></li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        <h3>pants</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>jeans</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>skirts</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>shorts</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>suits</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h3>shoes</h3>
                    </a>
                </li>
            </ul>
            <ul class="modal-list">
                <li><span>78 items</span></li>
                <li><span>71 items</span></li>
                <li><span>89 items</span></li>
                <li><span>67 items</span></li>
                <li><span>76 items</span></li>
                <li><span>98 items</span></li>
            </ul>
        </div>
    </div>
    <div id="modal-1" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">x</a>
            <span>EDIT</span>
            <hr>
           <div class="content-1">
               <img src="../assets/images/shopping_cart/modalimg.png" alt="">
               <h3>“La-violette” dress</h3>
               <h2 style="font-family: 'Poppins',sans-serif;">$120</h2>
           </div>
           <div class="content-2">
               <h4 class="size-header">Select size</h4>
               <div class="sizes1">
                   <div class="size1">XS</div>
                   <div class="size1">S</div>
                   <div class="size1">M</div>
                   <div class="size1">L</div>
               </div>
           </div> 
           <div class="content-2">
            <h4 class="color-header">Select color</h4>
            <div class="colors1">
                <div class="Color1"><div class=""></div></div>
                <div class="Color1"></div>
                <div class="Color1"></div>
                <div class="Color1"></div>
            </div>
        </div> 
        <h4 class="color-header">Quantity</h4>
        <form class="quantity-form">
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
            <input type="number" id="number" value="1" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
          </form><button>Save changes</button>
        </div>
        
    </div>
    <script src="../assets/js/main.js"></script>
    </div>
</body>

</html>