* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }
  a {
    font-family: "Felix Titling", sans-serif;
    text-decoration: none;
  }
  .main-header{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .back {
    position: absolute;
    left: 3%;
    cursor: pointer;
    display: flex;
    font-family: "Poppins", sans-serif;
  
  }
  .container {
    width: 90% !important;
    margin: auto;
    position: relative;
  }
  body {
    background-color: #181818;
  }
  .subscribe h1{
    font-weight: bold;
  }
  @media (max-width: 399px) {
    .mainImage {
      width: 228px;
      height: 390px;
    }
  }
  @media (min-width: 767px) {
    .Slider-featuredImage{
      width: 600px;
      height: 500px;
    }
    .email {
      width: 349px;
    }
  
    .footer {
      height: 300px;
    }
    .input-div {
      width: 620px;
  
      flex-direction: row;
    }
  
    .subscribe {
      height: 300px;
    }
  
    .footer {
      height: 300px;
  
      align-items: center;
    }
    .subscribe {
      height: 300px;
    }
    .modal {
      width: 50%;
      height: 500px;
    }
  }
  
  @media (max-width: 767px) {
    .colors,.sizes{
      width: 60%!important;
    }
    .excepts{
      display: none!important;
    }
    .quantity{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;
    }
    .product-information{
      width: 100%!important;
    }
    .Slider-thumbnails{
      display: none!important;
    }
    .product-section{
      width: 100%;
      flex-direction: column;
    }
    .Slider-featuredImage{
      width: 100%;
    }
    .colors-div,.size-div,.quantity{
      margin-top: 2%;
    }
    .back {
      display: none;
    }
    .modal {
      width: 100%;
    }
    .nav-links li:not(:first-child) {
      display: none;
    }
    .email {
      margin-bottom: 30%;
    }
    .subscribe,
    .footer {
      padding-top: 10%;
    }
    .subscribe h1 {
      text-align: center;
    }
  
    .footer {
      flex-direction: column;
  
      align-items: unset;
    }
  
  
    .input-div {
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  
    .btnSubmit {
      right: unset !important;
    }
    .footer div {
      text-align: center;
    }
  }
  
  .line {
    border-top: 2.04px solid #fff;
  }
  .menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;
  }
  .line1 {
    width: 10.22px;
  }
  .line2 {
    width: 16.61px;
  }
  .line3 {
    width: 23px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    height: 80px;
    align-items: center;
    margin-bottom: 5%;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .navbar {
    flex: 1;
  }
  .header-title {
    flex: 5;
    text-align: center;
    font-size: 48px;
  }
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  h1,h2,
  h3 {
    text-transform: uppercase;
  
    font-family: "Felix Titling", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .subscribe p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .input-div {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    position: relative;
  }
  .btnSubmit {
    width: 241px;
    height: 50px;
    background: #727272;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    color: #e9e7e7;
    cursor: pointer;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .email {
    height: 45px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    font-size: 17px;
  }
  .email::placeholder {
    font-size: 17px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  
    justify-content: space-between;
    height: 200px;
  
    font-family: "Poppins", sans-serif;
  }
  .footer a {
    text-decoration: none; font-family: "Poppins", sans-serif;
  }
  .list4,
  .list5 {
    text-align: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: "Poppins", sans-serif;
  }
  /*Modal*/
  .modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 30px;
    background: #181818;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }
  .modal-close-btn {
    position: absolute;
    top: 10px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  .modal-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .modal-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
  }
  .modal a {
    text-decoration: none;
    transition: left 0.1s;
  }
  .content1 {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  
  /** Overlay */
  .overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /** JS */
  .is-visible {
    opacity: 1;
    pointer-events: auto;
  }
  .modal span {
    font-family: "Poppins", sans-serif;
  }
  .email-label {
    font-size: 16px;
    display: none;
  }
  
  .btnSubmit:hover {
    background-color: #181818;
    text-align: left;
    padding-left: 20px;
    transition: all 1s ease-in-out;
  }
  .btnArrow {
    visibility: hidden;
  }
  .btnSubmit:hover .btnArrow {
    visibility: visible;
  }

  .header2 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 3%;
  }
 
  .Slider img {
    display: block;
  }
  
  .Slider {
    display:flex;
  }
  
  .Slider-featuredImage {
    padding: 4px;

  }
  
  .Slider-thumbnails {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 4px 25px;
    margin-right: 16px;
    flex-direction:column;
  }
  
  .Slider-thumbnail {
    opacity: 0.7;
    cursor: pointer;
  }
  .Slider-thumbnail:not(:first-child){
    
    margin-top:15px;
  }
  
  .Slider-thumbnail img {
    width: 100px;
    height: 70px;
  }
  
  .Slider-thumbnail .active {
    opacity: 1;
  }
  .price{
    font-weight: 900;
  }
  .price,.quantity,.colors-div,.size-div{
    font-family: 'Roboto',sans-serif;
  }
  .Slider-thumbnail:hover,
  .Slider-thumbnail:active,
  .Slider-thumbnail:focus {
    opacity: 1;
  }
  .product-section{
    display: flex;
    
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  .product-information{
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-around;
  }
  .product-header{
    display: flex;
    justify-content: space-between;
  }
  .colors-div{
    display: flex;
    flex-direction: column;
    

  }
  .colors{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 2%;

  }
  .color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
  }
  .color1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }
  .color2{
    background: #000;
  }
  .color3{
    background-color: #fff;
  }
  .color4{
    background-color: orangered;
  }
  .color-1{
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
  }
  .size-div{
    display: flex;
    flex-direction: column;
    

  }
  .excepts{
    display: flex;
    flex-direction: column;
  }
  .sizes{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 2%;

  }
  .size{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.size:not(:last-child){
  
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.size:last-child{
  border: 1px solid gray;
  color: gray;
}
.size:first-child{
  background: #fff;
  color: #000;
}
.product-information span{
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
}

.quantity-form {
  width: 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border:1px solid #fff;
}

.value-button {
  display: flex;
  margin: 0px;
  width: 20px;
  height: 21px;
  justify-content:center;
  align-items:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size:22px;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
}

form #increase {
  margin-left: -4px;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border:none;
  margin: 0px;
  width: 20%;
  height: 40px;
  background: transparent;
  font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btnAdd{
  width: 60%;
  color: #000;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 0;
}
.quantity{
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
.flex-1{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding: 5% 0;
}
.flex-1 h1{
  text-transform: uppercase;
  font-weight: bold;
}
.flexDiv {
  color: white;
  margin: 10px;
  text-align: left;
  font-size: 30px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width:2000px){
  .sizes,.colors{
    width: 50%!important;
  }
}
@media(min-width:1700px){
  .container{
    width: 70%!important;
  }
}
@media (max-width: 768px) {
  .flexDiv {
    max-width: 75%;
    flex: 0 1 30%;
  }
  .flex-container {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .flex-container {
    justify-content: space-between;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .flex-container {
    justify-content: center;
  }
}
@media (max-width:500px){
  .colors,.sizes{
    width: 80%!important;
  }
}
@media (max-width: 600px) {
  
  .flexDiv {
    max-width: 100%;
  }
}
@media (min-width: 400px) {
  .mainImage {
    height: 399px;
    width: 347px;
  }
}
.mainHeader1 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
}
.mainHeader2 h1 {
  font-family: "Felix Titling", sans-serif;
  font-size: 24px;
}
.mainHeader2 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}
.image1 {
  background-image: url("../../images/home_product/cardimage6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image2 {
  background-image: url("../../images/home_product/cardimage1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image3 {
  background-image: url("../../images/home_product/cardimage2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image4 {
  background-image: url("../../images/home_product/cardimage3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image5 {
  background-image: url("../../images/home_product/cardimage4.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image6 {
  background-image: url("../../images/home_product/cardimage5.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width:768px) and (max-width:1024px){
  .Slider-featuredImage{
    width: 100%!important;
  }
  .product-information{
    width: 50%;
  }
  .Slider-thumbnails{
    width: unset;
  }
  .colors,.sizes{
    width: 80%!important;
  }
  .quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
  }
}